* {
    font-family: "Basic", normal;
    font-weight: 400;
}
.navbar-brand {
    position: absolute;
    top: 0;
}
.nav-item {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
}
@media screen and (max-width: 992px) {
    .nav-item {
        padding: 0;
    }
    .navbar-brand {
        position: relative;
    }
}
.nav-link:hover {
    width: auto;
    height: auto;
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
    color: white;
}
.banner-title {
    font-weight: 400;
    font-size: 97px;
    line-height: 122px;
}
.banner-button:link, .banner-button:visited {
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

 
